@import "./common/reset";

.App {
  width: 100vw;
}

.black-nav {
  background: black;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

.content {
  box-sizing: border-box;
  margin-top: 20px;
  padding: 0 20px;
}

.post {
  padding: 20px 0;
  border-bottom: 1px solid black;

  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
  }
}

.modal {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #eee;

  .title {
    font-size: 20px;
    font-weight: bold;
  }
}

.input-form {
  width: 100%;
  height: 32px;
  display: flex;
  align-content: stretch;
  margin: 20px 0;

  > input {
    flex: 1;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 4px;
    margin-right: 20px;
  }
  > button {
  }
}
