/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

a,
button {
  cursor: pointer;
}

.black-nav {
  background: black;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

.content {
  box-sizing: border-box;
  margin-top: 20px;
  padding: 0 20px;
}

.post {
  padding: 20px 0;
  border-bottom: 1px solid black;
}

.post .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.post .like {
  margin: 0 6px;
}

.modal {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #eee;
}

.modal .title {
  font-size: 20px;
  font-weight: bold;
}

.post-form {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  margin: 20px 0;
  background-color: #ececec;
  padding: 20px;
  box-sizing: border-box;
}

.post-form .heading {
  font-size: 18px;
  margin-bottom: 14px;
  font-weight: bold;
}

.post-form__title {
  display: flex;
}

.post-form__title .title-input {
  height: 36px;
  flex: 1;
  padding: 2px 6px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
}

.post-form__content {
  display: flex;
  align-items: flex-start;
  margin-top: 8px;
  margin-bottom: 20px;
}

.post-form__content .content-input {
  flex: 1;
  height: 100px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  line-height: 24px;
  padding: 2px 6px;
  resize: none;
}

.post-form label {
  margin-right: 12px;
  line-height: 30px;
}

.post-form > button {
  height: 30px;
  width: 50px;
  align-self: flex-end;
  border-radius: 4px;
}

.post-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.post-modal .post-inner {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  background-color: #eee;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.post-modal .post__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.post-modal .post__info {
  font-size: 16px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.post-modal .post__content {
  flex: 1;
  font-size: 16px;
  overflow: auto;
}
